/* Import Tailwind CSS */
@import "./tailwind.css";

/* Root styles for the entire application */
html {
  scroll-behavior: smooth;
  transition: color 0.3s ease, background-color 0.3s ease;
}

body {
  font-family: "Roboto", sans-serif; /* Example font family */
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Dark mode root style */
body.dark {
  color: #f5f5f5;
  background-color: #1a202c;
}

/* Utility classes for transitioning colors */
body.dark .text-primary {
  color: #cbd5e1;
}

body.light .text-primary {
  color: #333;
}
